# Pyhton virtual environment
ddn/

# VSCode settings
.vscode/

# macOS Finder metadata
.DS_Store

# Data files
data/

#python cashes
src/__pycache__/

# Doc files
docs/
# Large artifacts
results/networks/*.pkl

# Large artifacts
results/networks/*.pkl
